---
import type { PostSummary } from '../../lib/content';
import PostCard from './PostCard.astro';

const { posts = [] } = Astro.props as { posts: PostSummary[] };
---

{
  posts.length > 0 && (
    <section class="related-posts">
      <div class="section-heading">
        <span class="section-heading__eyebrow">Further Reading</span>
        <h2>Related posts</h2>
      </div>
      <div class="post-grid">
        {posts.map((post) => <PostCard post={post} compact />)}
      </div>
    </section>
  )
}
